<p style="color: green"><%= notice %></p>

<div class="row mb-3 text-center">
  <div class="col-12 themed-grid-col">
    <%= form_with url: "/", method: :get do |form| %>
      <%= form.search_field :search, class: "form-control", placeholder: "Search..." %>
    <% end %>
  
  </div>
</div>

<h1>Usuarios</h1>
<div class="row mb-3 text-center">
  <div class="col-3 themed-grid-col">Nome</div>
  <div class="col-3 themed-grid-col">E-mail</div>
  <div class="col-3 themed-grid-col">Permissão</div>
  <div class="col-3 themed-grid-col">Ações</div>
</div>
<div id='user_list' class="row mb-3 text-center">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
</div>

<% if current_user&.admin? %>
  <%= link_to "Criar usuário", new_user_path %>
<% end %>